:root{
    --cor-fundo: #7b1196;
    --cor-principal: #0B0D20;
    --cor-destaque: #f9fd2b;
    --cor-texto: #f57d1b;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}
h1{
    color:var(--cor-destaque);
}